<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key ="DiretorioXMLs" value="C:\XMLS\"/>
      <add key="ConnectionString" value="Data Source=(localdb)\ProjectsV12;Initial Catalog=Teste;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
    </appSettings>
</configuration>